# MacOS
*.DS_Store

# IntelliJ
.idea/
*.iws
*.iml
!.idea/runConfigurations/Run_mplatt_de.xml

# Jekyll
_site
.sass-cache
.jekyll-metadata

# NPM
node_modules/
google-fonts-*.css

# JabRef
.bib.bak
.bib.sav.bak